.myestates {
  display: flex;
  justify-content: center;
  align-items: center;

  .myestates__container {
    width: 100%;
    padding: 50px 0px;

    .title-bar {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: var(--h1-font-size);
        font-family: var(--cabinet);
        color: var(--title-color);
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.01em;
        line-height: 1.1em;
        margin-bottom: 2rem;
      }

      .addestate__btn {
        font-size: var(--h3-font-size);
        padding: 0.5rem 1rem;
      }
    }

    table {
      width: 100%;
      background-color: var(--container-color);
      border-spacing: 2rem;
      border-radius: 40px;

      tr {
        th {
          font-size: var(--h3-font-size);
          font-family: var(--cabinet);
          color: var(--title-color);
          font-weight: 600;
          letter-spacing: -0.01em;
          line-height: 1.1em;
          margin: 1.2rem 0 0.5rem;
          text-align: left;
        }
        td {
          background-color: var(--container-color);
          font-family: var(--satoshi);
          color: var(--title-color);
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.01em;
          line-height: 1.1em;

          .image {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }

          .delete {
            width: 20px;
            cursor: pointer;
          }
          .edit {
            width: 20px;
            cursor: pointer;
            margin-left: 30px;
          }
        }
        &:nth-child(even) {
          background-color: #1dbf730f;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .myestates {
    flex-direction: column;

    .myestates__container {
      padding: 20px 0px;

      .title-bar {
        flex-direction: column;
        align-items: center;

        .title {
          margin-bottom: 1rem;
          text-align: center;
        }

        .addestate__btn {
          margin-top: 1rem 0;
        }
      }

      table {
        border-radius: 20px;

        tr {
          th,
          td {
            font-size: var(--h4-font-size);
            margin: 0.8rem 0 0.3rem;
          }

          td {
            .image {
              width: 40px;
              height: 20px;
            }

            .delete {
              width: 16px;
            }
          }
        }
      }
    }
  }
}
