.estates {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    // gap: 15px;

    .breadcrumbs {
      text-transform: uppercase;
      font-size: var(--normal-font-size);
      font-weight: 500;
      font-family: var(--satoshi);
      color: var(--text-color);
      padding: 0.5rem 0;
    }

    h1 {
      color: var(--title-color);
      font-family: var(--cabinet);
      font-size: var(--h1-font-size);
      font-weight: 700;
      padding: 0.5rem 0;
    }

    p {
      font-size: var(--normal-font-size);
      font-weight: 500;
      font-family: var(--satoshi);
      color: var(--text-color);
      padding: 0.5rem 0;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: var(--h1-font-size);

      .left {
        display: flex;
        align-items: center;
        gap: 1rem;

        input {
          width: 100%;
          padding: 0.5rem;
          border-radius: 20px;
          background-color: var(--container-color);
          border: 1.5px solid var(--text-color-light);
          outline: none;
          font-family: var(--satoshi);
          color: var(--title-color);
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.01em;
          line-height: 1.1em;

          &::placeholder {
            color: var(--text-color-light);
          }
        }

        button {
          display: flex;
          background-color: var(--title-color);
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          font-size: var(--h3-font-size);
          font-family: var(--cabinet);
          color: var(--text-color-light);
          font-weight: 600;
          padding: 0.5rem 1rem;
          letter-spacing: -0.01em;
          line-height: 1.1em;
          border: 1.5px solid var(--text-color-light);
        }
      }

      .right {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        .sortBy {
          font-size: var(--normal-font-size);
          font-weight: 500;
          font-family: var(--satoshi);
          color: var(--text-color);
          padding: 0.5rem 0;
        }

        .sortType {
          font-size: var(--normal-font-size);
          font-weight: 700;
          font-family: var(--satoshi);
          color: var(--text-color);
          padding: 0.5rem 0;
        }

        img {
          width: 25px;
          cursor: pointer;
        }

        .rightMenu {
          padding: 1rem;
          background-color: var(--container-color);
          border: 1.5px solid var(--text-color-light);
          border-radius: 20px;
          position: absolute;
          top: 30px;
          right: 0;
          z-index: 9;
          display: flex;
          flex-direction: column;
          gap: 20px;
          color: var(--text-color);

          span {
            cursor: pointer;
          }
        }
      }
    }

    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
