.register {
  display: flex;
  align-items: center;
  justify-content: center;

  .register__form {
    width: 100%;
    padding: 100px 0px;
    display: grid;
    gap: 5rem;

    .register__form-title {
      font-size: var(--h1-font-size);
      font-weight: 700;
      font-family: var(--cabinet);
      color: var(--title-color);
      font-style: normal;
      letter-spacing: -0.01em;
      line-height: 1.1em;
      margin-bottom: 2rem;
    }

    .left,
    .right {
      width: 100%;
      display: grid;

      label {
        font-size: var(--h3-font-size);
        font-family: var(--cabinet);
        color: var(--title-color);
        font-weight: 600;
        letter-spacing: -0.01em;
        line-height: 1.1em;
      }

      .phoneno {
        padding: 0.5rem 1rem;
      }

      input,
      textarea {
        padding: 20px;
        border: 1px solid var(--container-color);
      }

      .toggle {
        display: flex;
        align-items: center;
        gap: 20px;

        .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 24px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slidertog {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 24px;
        }

        .slidertog:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 4px;
          bottom: 4px;
          background-color: var(--container-color);
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 50%;
        }

        input:checked + .slidertog {
          background-color: var(--title-color);
        }

        input:focus + .slidertog {
          box-shadow: 0 0 1px var(--title-color);
        }

        input:checked + .slidertog:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }

    .register__btn {
      padding: 1.5rem;
    }
  }
}

/* For large devices */
@media screen and (min-width: 767px) {
  .register__form {
    grid-template-columns: 1fr 1fr;
  }
}
